body {
    border: none;
    margin: 0;
}

header {
    position: fixed;
    background-color: antiquewhite;
    width: 100%;
    height: fit-content;
}

.home {
    width: 30px;
    height: 30px;
    margin: 10px 0px 10px;
}

.profile {
    width: 30px;
    height: 30px;
    margin: 10px 0px 10px;
}

.portfolio {
    width: 3px;
    height: 3px;
    margin: 10px 0px 10px;
}

.cv {
    width: 30px;
    height: 30px;
    margin: 10px 0px 10px;
}

.termo {
    width: 30px;
    height: 30px;
    margin: 10px 0px 10px;
}

